@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
    background: url(../../img/card_bg2.jpg);
    background-size: cover;
    font-family: 'Cabin', sans-serif;
}

.main-content {
    position: relative;
}

.back {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 200px;
}

.back i {
    font-size: 37px;
    color: #c23616;
    transition: 0.2s linear;
}

.back:hover i {
    color: #e84118;
}

.names {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #576574;
    text-shadow: #ea8685 6px 6.5px 6px;
}


.select--love {
    background-color: #c44569;
    display: inline-block;
    height: 200px;
    position: relative;
    top: 150px;
    left: 295px;
    transform: rotate(-45deg);
    width: 200px;
    cursor: pointer;
  }
  
.select--love:before,
.select--love:after {
    content: "";
    background-color: #c44569;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  
.select--love:before {
    top: -100px;
    left: 0;
  }
  
.select--love:after {
    left: 100px;
    top: 0;
}

.select--love span {
    top: 47px;
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(45deg);
    left: 52px;
    z-index: 2;
    color: #ffcccc;
    transition: 0.25s linear;
}

.select--friend {
    background-color: #32ff7e;
    display: inline-block;
    height: 200px;
    position: relative;
    top: 150px;
    right: -645px;
    transform: rotate(-45deg);
    width: 200px;
    cursor: pointer;
    
  }
  
.select--friend:before,
.select--friend:after {
    content: "";
    background-color: #32ff7e;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  
.select--friend:before {
    top: -100px;
    left: 0;
  }
  
.select--friend:after {
    left: 100px;
    top: 0;
}

.select--friend span {
    top: 53px;
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(45deg);
    left: 53px;
    z-index: 2;
    color: #009432;
    transition: 0.25s linear;
}

.select--love:hover span,
.select--friend:hover span{
    color: #fff;
}

.card {
    width: 100%;
    text-align: center;
}

.card img {
    max-width: 350px;
    height: 465px;
    display: none;
    cursor: pointer;
    border: solid 1px black;
    box-shadow: #353b48 6px 7px 8px;
}

.card--img__content {
    width: 350px;
    height: 465px;
    display: none;
    cursor: pointer;
    border: solid 1px black;
    box-shadow: #353b48 6px 7px 8px;
    text-align: center;
    font-size: 2rem;
    color: #222f3e;
    padding: 20px;
}

.btn {
    background-color: #b33939;
    padding: 12px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 0;    
    font-size: 19px;
    color: #ffffff;
    display: none;
    transition: 0.25s linear;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #ff5252;
}

@keyframes blur {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes see {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes spin {
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 90deg);
    }

}
